.navbar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #023684;
  margin-bottom: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); /* Light Mode */
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);  Dark Mode */
}

.logo {
  width: 150px;
  height: auto;
}

.navList {
  width: 1280px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linksWapper {
  color: var(--text-primary);
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.navLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
